$primary: #1b75b9;
$info: #33b5e5;
$danger: #ff3333;
$danger-bg:#CC0000;
$warning: #ffbb33;
$warning-bg: #FF8800;
$success: #00C851;
$success-bg: #007E33;
$gray: #808080;
$gray-dark: #555555;
$gray-light: #eeeeee;
$gray-lightest: #fafafa;
