<div ng-controller="MasterCtrl">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle burgerButton burger" data-toggle="collapse" data-target="#masterNavbar" ng-class="{'active': isActive}" ng-click="activeButton()" >
              <span></span>
          </button>
            <a class="navbar-brand" ui-sref="home"><img src="/assets/zs-circle-logo_355x355_trans.png" alt="Zach Stradling" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="masterNavbar" ng-cloak>
            <ul class="nav navbar-nav navbar-right" ng-cloak>
                <li  ng-repeat="item in siteNav"  data-toggle="collapse" data-target="#masterNavbar" ng-click="activeButton()" ng-cloak>
                  <!-- Link with just Icon, for desktop screens -->
                  <a ui-sref="{{item.url}}" ng-if="item.home === true" class="hoemBtn visible-lg" ng-cloak><i class="fa {{item.icon}}"></i></a>
                  <!-- Link with HOME, for mobile screens -->
                  <a ui-sref="{{item.url}}" ng-if="item.home === true" class="hoemBtn hidden-lg" ng-cloak><i class="fa {{item.icon}}"></i>HOME</a>
                  <!-- Regular nav links, for all screens -->
                  <a ui-sref="{{item.url}}" ng-if="item.home === false" class="regBtn" ng-cloak><i class="fa {{item.icon}}"></i>{{item.name | uppercase}}</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <div class="viewBox">
      <ui-view></ui-view>
  </div>
</div>
<!--End MasterCtrl  -->
