<div ng-controller="MasterCtrl">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle burgerButton burger" data-toggle="collapse" data-target="#masterNavbar" ng-class="{'active': isActive}" ng-click="activeButton()" >
              <span></span>
          </button>
            <a class="navbar-brand" ui-sref="home"><img src="/assets/zs-circle-logo_355x355_trans.png" alt="Zach Stradling" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="masterNavbar">
            <ul class="nav navbar-nav navbar-right" role="tablist">
                <li  ng-repeat="item in siteNav" ng-if="item.home === true" class="hoemBtn"><a ui-sref="{{item.url}}"><i class="fa {{item.icon}}"></i></a></li>
                <li ng-repeat="item in siteNav" ng-if="item.home === false" class="regBtn"><a ui-sref="{{item.url}}"><i class="fa {{item.icon}}"></i>{{item.name | uppercase}}</a></li>
            </ul>
        </div>
    </div>
  </nav>
  <div class="viewBox">
      <ui-view></ui-view>
  </div>
</div>
<!--End MasterCtrl  -->
