<div ng-controller="PortfolioCtrl" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="sidebar">
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="project in mainProjects" ng-class="{'active' : tab === project.id }" ng-click="setTab(project.id)"><img src="/assets/screenshots/{{project.img}}" alt="{{project.altText}}" class="img-responsive"><h4>{{project.title}}</h4></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-10 col-lg-10">
                <div class="mainContent">
                    <div class="sectionHeadBox">
                        <div class="cardBox sectionHead">
                            <h1><i class="fa fa-code"></i> &nbsp; Portfolio:</h1>
                        </div>
                    </div>
                    <div class="projectBox" ng-repeat="project in mainProjects" ng-show="tab === project.id">
                        <div class="row">
                          <div class="col-xs-12">
                              <h2>{{project.title}}</h2>
                              <hr>
                          </div>
                          <div class="col-lg-8 imgBox">
                            <img src="/assets/screenshots/{{project.img}}" alt="{{project.altText}}" class="img-responsive mainThumbnail">
                          </div>
                          <div class="col-lg-4">
                            <div class="detailsBox card">
                                <h3>Project:&nbsp; <span class="text-primary">{{project.name}}</span></h3>
                                <h3>Technology Used:</h3>
                                <div class="skillsBox">
                                    <span ng-repeat="skill in project.tech" class="label skill label-primary">{{skill.name}}</span>
                                </div>
                                <h3>Desciption:</h3>
                                <p>{{project.details}}</p>
                                <hr>
                                <a ui-sref="{{project.link}}" class="btn btn-lg squareBtn squareBtnBlue btn-block viewBtn"><i class="fa fa-expand"></i>&nbsp; Enlarge Screenshot</a>
                                <a  ng-if="project.openSource" href="{{project.github}}" class="btn btn-lg wireBtn wireBtnGray btn-block viewCodeBtn" target="_blank"><i class="fa fa-github"></i>&nbsp; View Code</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
