@import "utilities/colors.scss";

/*PAGE HERO*/

.hero-bg {
  box-shadow: 0 -10px 10px -10px #2C3E50;
  background: radial-gradient(to top, $info 2%, $primary 20%);
  /*Standard*/
  background-position: center;
  background-blend-mode: color;
}

.gray-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$gray+0,555555+100 */
  background: $gray;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, $gray 0%, $gray-dark 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gray', endColorstr='$gray-dark',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.hero-main {
  padding: 75px 0;
}

.heroImgBox {
  text-align: center;
  img {
    height: 300px;
    text-align: center;
    margin: 0 auto;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(199, 199, 199, 0.5));
  }
}

.heroTextBox {
  margin-top: 50px;
  .heroName {
    font-size: 4em;
  }
}

.heroSubtext {
  font-size: 2.5em;
}

.heroCards {
  height: 400px;
  a {
    .card {
      transition: .4s ease;
    }
    &:hover .card {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      background-color: $gray-dark;
      border-width: 1px;
      h2, i {
        color: #ffffff;
      }
    }
  }
  .card .cardIcon {
    color: $gray-dark;
    font-size: 3.5em;
  }
}

@media (max-width: 768px) {
  .heroCards .card {
    h2 {
      display: -webkit-box;
      margin: 0;
    }
    i {
      width: 50px;
    }
  }
  .hero-main {
    padding: 35px 0;
  }
  .heroImgBox {
    text-align: center;
    img {
      height: 200px;
      text-align: center;
      margin: 0 auto;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(199, 199, 199, 0.5));
    }
  }
  .heroTextBox {
    margin-top: 40px;
    .heroName {
      font-size: 2.3em;
    }
  }
  .heroSubtext {
    font-size: 2em;
  }
  .heroCards {
    height: 400px;
    a {
      .card {
        transition: .4s ease;
      }
      &:hover .card {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        background-color: $gray-dark;
        border-width: 1px;
        h2, i {
          color: #ffffff;
        }
      }
    }
  }
}
