@import "utilities/colors.scss";

#portfolio {
  hr {
    border-top: 1px solid #ddd;
  }
  .sectionHead {
    margin: 20px 0;
  }
  .sidebarHead {
    background-color: $gray-dark;
    color: #fff;
    font-size: 1.4em;
    margin: 0 0 -20px -15px;
    padding-left: 15px;
  }
  .sidebar {
      overflow: auto;
        .list-group {
            .list-group-item {
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
      .mCSB_container {
        padding: 0 !important;
      }
  }
  .mainContent {
    padding: 10px 0 10px 25px;
    .projectTitle {
      margin-top: 0;
    }
    .imgBox {
      padding: 10px;
      background-color: rgba(255,255,255,1);
              -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
                      box-shadow: 0 0 5px rgba(0,0,0,.2);
              border-radius: 4px;
      img {
        border:1px solid rgba(0,0,0,.09);
      }
    }
    .detailsBox {
      padding: 10px 15px !important;
      h3 {
        font-size: 1.7em;
      }
      .skillsBox {
        margin: 5px 15px;
        .label {
          margin-right: 4px;
          font-size: 1em;
          line-height: 2;
        }
      }
      .viewBtn {
        i {
          font-size: 1.2em;
          color: #ffffff;
        }
        &:hover {
          background-color: $gray-dark;
          color: #ffffff;
          i {
            font-size: 1.2em;
            color: #ffffff;
          }
        }
      }
      .viewCodeBtn {
        i {
          font-size: 1.2em;
          color: $gray-dark
        }
        &:hover {
          background-color: $gray-dark;
          color: #ffffff;
          i {
            color: #ffffff;
          }
        }
      }
    }
  }
  h1 {
    margin: 0;
  }
  .card {
    text-align: left;
    i {
      font-size: 3.5em;
      color: $primary;
      text-shadow: 1px 1px #555;
    }
    p {
      font-size: 1.2em;
      color: $primary;
      margin: 10px 15px;
    }
    &.screenShot {
      padding: 0px;
      margin-bottom: 35px;
      border-width: 0;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      position: relative;
      .overlayBox {
        height: 100%;
        width: 100%;
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background-color: $primary;
          overflow: hidden;
          width: 0;
          height: 100%;
          -webkit-transition: .5s ease;
          -o-transition: .5s ease;
          transition: .5s ease;
        }
      }
      &:hover .overlay {
        width: 100%;
      }
      .btn {
        /*    display: none;*/
        white-space: nowrap;
        color: #ffffff;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        &:hover {
          background-color: #ffffff;
          color: $primary;
        }
      }
    }
    padding: 10px 0 0;
    border-width: 1px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    &:hover {
      -webkit-box-shadow: 0px 0px 8px #bbb;
              box-shadow: 0px 0px 8px #bbb;
    }
    .btn:hover {
      background-color: $primary;
      color: #ffffff;
      border-color: transparent;
    }
  }
}

.modal {
  .big-modal {
     width: 65% !important;
     z-index: +200000;
   }
   @media(min-width: 1500px) {
     .big-modal {
        width: 65% !important;
      }
   }
   @media(max-width: 1499px) {
     .big-modal {
        width: 80% !important;
      }
   }
   @media(max-width: 768px) {
     .big-modal {
        width: 95% !important;
      }
   }
  .screenshot {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  .projectDetails {
    padding: 10px 0;
    margin: 10px 0;
    border-top: 2px solid $gray-dark;
    p {
      font-size: 1.3em;
      padding-left: 10px;
    }
    h3 {
      font-size: 2em;
      padding-left: 10px;
      margin-top: 0px;
      color: $gray;
    }
    .wireBtn {
    }
  }
}

/** LIGHTBOX MARKUP **/

.lightboxModal {
  /** Default lightbox to hidden */
  /* display: none;*/
  /** Position and style */
  padding: 40px;
  text-align: -webkit-center;
  background: rgba(0, 0, 0, 0.2);
  .screenshot {
    -webkit-box-shadow: none;
            box-shadow: none;
            margin: 0 auto;
            background-color: $gray-dark;
            max-width: 1440px;
            padding-bottom: 30px;
            .modal-header {
              margin-top: -20px;
              margin-bottom: 30px;
              max-width: 1440px;
              text-align: -webkit-left;
              background: #ddd;
              .close {
                  padding: 14px 17px 16px;
                  background-color: #f33;
                  opacity: .6;
                  color: #fff;
                  -webkit-transition: .3s ease;
                  -o-transition: .3s ease;
                  transition: .3s ease;
                  line-height: .9;
                  margin-top: -10px;
              }
            }
    img {
      /** Pad the lightbox image */
      max-width: 90%;
      max-height: 80%;
      margin-top: 2%;
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
              box-shadow: 0 0 5px rgba(0,0,0,0.6);

    }
  }

}
