/****TABLE OF CONTENTS****/
  /*TEXT FORMATING*/
  /*COLORS*/
    /*TEXT COLORS*/
    /*BACKGROUND-COLORS*/
    /*BACKGROUND-IMAGES*/
    /*GRADIENTS*/

  /*BUTTONS*/
    /*WIRE BUTTONS*/
    /*SQUARE BUTTONS*/

  /*BOX-SHADOWS*/

/****END TABLE OF CONTENTS****/

/*TEXT FORMATING*/
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
/*COLORS*/
  /* START TEXT-COLORS*/
.text-blue {
  color: #1b75b9 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-gray {
  color: #555555 !important;
  ;
}

.text-green {
  color: #00C851;
}

.text-red {
  color: #ff4444;
}

.text-purple {
  color: #9933CC;
}
  /*END TEXT-COLORS*/

  /********************************/
  /*/////////////////////////////*/
  /********************************/

  /*START BACKGROUND-COLORS*/
.bg-blue {
  background-color: #1b75b9;
}

.bg-green {
  background-color: #00C851;
}

.bg-red {
  background-color: #ff4444;
}

.bg-white {
  background-color: #fff;
}

.bg-purple {
  background-color: #9933CC;
}

.bg-lightGray {
  background-color: #f1f1f1;
}

.bg-gray {
  background-color: #555555;
}
  /*END BACKGROUND-COLORS*/

  /********************************/
  /*/////////////////////////////*/
  /********************************/


  /*START GRADIENTS*/
.blue-gradient {
  box-shadow: 0 -10px 10px -10px #2C3E50;
  background: rgba(44,116,232,1);
  background: radial-gradient(ellipse at center, rgba(44,116,232,1) 0%, rgba(0,104,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c74e8', endColorstr='#1b75b9', GradientType=1 );
  background-position: center;
  background-blend-mode: color
}
.newBlue-gradient {
    background: #54a1da; /* Old Browsers */ /*Safari 5.1-6*/ /*Opera 11.1-12*/ /*Fx 3.6-15*/
    background: radial-gradient(to top, #54a1da 2%, #1b75b9 20%); /*Standard*/
}

.light-gray-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
}

.gray-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#888888+0,555555+100 */
  background: #888888;
  background: radial-gradient(ellipse at center,  #888888 0%,#555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#555555',GradientType=1 );
}
  /*END GRADIENTS*/

  /********************************/
  /*/////////////////////////////*/
  /********************************/

  /*START BACKGROUND-IMAGES*/
.bg-texture {
  background-image: url(/assets/backgrounds/poly_bg_1920x1080.png);
}

.bg-texture-dark {
  background-image: url(/assets/backgrounds/poly_bg-dark_1920x1080.png);
}
  /*END BACKGROUND-IMAGES*/

  /********************************/
  /*/////////////////////////////*/
  /********************************/

/*BUTTONS*/
  /*START WIRE BUTTONS*/
.wireBtn {
  box-sizing: border-box;
  transition: .3s ease;
  border-width: 1px;
  border-radius: 0;
  background-color: transparent;
}

.wireBtn:hover {
}

.wireBtnWhite {
  color: #fff;
  border-color: #fff;
}

.wireBtnWhite:hover {
  color: #1b75b9;
  background-color: #fff;
}

.wireBtnBlue {
  color: #1b75b9;
  border-color: #1b75b9;
}

.wireBtnBlue:hover {
  color: #fff;
  background-color: #1b75b9;
}

.wireBtnGray {
  color: #606060;
  border-color: #606060;
}

.wireBtnGray:hover {
  color: #fff;
  background-color: #606060;
}

  /*END WIRE BUTTONS*/

  /********************************/
  /*/////////////////////////////*/
  /********************************/

  /*START SQUARE BUTTONS*/
.squareBtn {
  transition: .3s ease;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
}

.squareBtnBlue {
  color: #fff;
  border-color: #1b75b9;
  background-color: #1b75b9;
}

.squareBtnBlue:hover {
  color: #1b75b9;
  background-color: transparent;
}

.squareBtnWhite {
  color: #555555;
  border-color: #fff;
  background-color: #fff;
}

.squareBtnWhite:hover {
  color: #fff;
  background-color: transparent;
}

.squareBtnGray {
  color: #fff;
  border-color: #555555;
  background-color: #555555;
}

.squareBtnGray:hover {
  color: #555555;
  background-color: transparent;
}
  /*END SQUARE BUTTONS*/

  /********************************/
  /*/////////////////////////////*/
  /********************************/

  /*START BOX-SHADOWS*/

/*  CSS Spec:  | style | offset-x | offset-y | blur-radius | spread-radius | color */
.top {
  box-shadow: 0 -10px 10px -10px #2C3E50;
}

.right {
  box-shadow: 10px 0 10px -10px #2C3E50;
}

.bottom {
  box-shadow: 0 10px 10px -10px #2C3E50;
}

.left {
  box-shadow: -10px 0 10px -10px #2C3E50;
}

.all {
  box-shadow: 0 0 10px #2C3E50;
}

.inset-top {
  box-shadow: inset 0 10px 10px -10px #2C3E50;
}

.inset-right {
  box-shadow: inset -10px 0 10px -10px #2C3E50;
}

.inset-bottom {
  box-shadow: inset 0 -10px 10px -10px #2C3E50;
}

.inset-left {
  box-shadow: inset 10px 0 10px -10px #2C3E50;
}

.inset-all {
  box-shadow: inset 0 0 10px #2C3E50;
}

.left-right {
  box-shadow: -10px 0 10px -10px #2C3E50, 10px 0 10px -10px #2C3E50;
}

.top-bottom {
  box-shadow: 0 -7px 7px -7px #2C3E50, 0 7px 7px -7px #2C3E50;
}

.inset-left-right {
  box-shadow: inset 10px 0 10px -10px #2C3E50, inset -10px 0 10px -10px #2C3E50;
}

.inset-top-bottom {
  box-shadow: inset 0 7px 7px -7px #2C3E50, inset 0 -7px 7px -7px #2C3E50;
}

.dropshadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.lifted {
}

.lifted:before,
.lifted:after {
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.lifted:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
  /*END BOX-SHADOWS*/
